*{
    margin: 10px;
}
.padre{
    background-color: red;
    padding: 100px;
    width: 450px;
}
.hijo{
    background-color: yellowgreen;
    padding: 80px;
    height: 300px;
    width: 300px;
    border-radius: 300px;
}
.nieto{
    padding: 20px;
    background-color: coral;
    height: 260px;
    width: 260px;
    border-radius: 300px;
}
.bisnieto{
    padding: 20px;
    background-color: yellow;
    height: 200px;
    width: 200px;
    border-radius: 300px;

}
.tatanieto{
    padding: 50px;
    background-color: black;
    height:100px;
    width: 100px;
    border-radius: 300px;

}
.tatanieto2{
    background-color: blue;
    padding: 20px;
    height: 80px;
    width: 80px;
    border-radius: 300px;

}
.tatanieto3{
    background-color: red;
    padding: 27px;
    height: 10px;
    width: 10px;
    border-radius: 300px;

}
.tatanieto4{
    background-color: rosybrown;
    padding: 0px;
    height: 20px;
    width: 20px;
    border-radius: 300px;

}
